p{
    background-color: aqua;
    color: rgb(8, 240, 213)
}
a{
    background-color: aquamarine;
    color: rgb(159, 86, 193);
}
div{
    background-color: rgb(166, 229, 124);
    color: black;
}
span{
    background-color: brown;
    
}

     